.btn{
    display: inline-block;
    background-color:#428bca;
    padding: 20px;
    color: #fff;
    font-size: 30px;
    transition-property: background-color, padding;
    transition-duration: 500ms;

}


.btn:hover{
background-color: #2248ca;
/* transform: scale(1.1);  */
padding-left: 30px;
padding-right: 30px;
transition: 300ms linear;
}

