#ul1{
    /* list-style: square; */
    /* list-style: circle; */
    /* list-style-image: url(./../../JS-notes/ex001/assets/manha.png); */
    border: 1px solid ;
    list-style-position: inside;
    padding: 0;
    

}
#ol1{
    /* list-style: decimal-leading-zero;
    list-style: lower-roman;
    list-style: upper-roman;
    list-style: lower-alpha; */
    list-style: upper-alpha;
    
    

    

}
li{
    border: 1px solid blue;
    
}

