/* margin, padding */
#primeira{
    height: 100px;
    background-color: blue;
    margin: 20px;
   
}
#segunda{
    height: 100px;
    background-color: rgb(255, 0,0);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 100px;
   
}
#terceira{
    height: 100px;
    background-color: #00ff00;  
}
p {
   /* margin-top: 0px;
   margin-bottom: 0; */
   
}

#quarta{
    /* height: 100px; */
    background-color: blue;
    border: 2px solid black;
    margin: 10px; 
    padding: 20px;
   
}
#quinta{
    height: 100px;
    background-color: rgb(255, 0,0);
    
}
#sexta{
    height: 100px;
    background-color: #00ff00;  
}
#p1{
    margin: 0;
}