.quadro{
    width: 500px;
    height: 400px;
    border: 1px solid gray;
}

.quadrado{
    width: 100px;
    height: 100px;
}

.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}