#tela{
    background-color: rgb(243, 238, 231);
}

#tela2{
    background-color: rgb(184, 206, 198);
}

#tela3{
    background-color: rgb(206, 214, 243);
}

#tela4{
    background-color: beige;
}

#tela5{
    background-color: rgb(233, 187, 161);
}

#tela6{
    background-color: bisque;

    position: relative;
    overflow: hidden;
}

#tela7{
    background-color: rgb(206, 214, 243);
}